.mars{
    background-image: url(../../assets/img/destination-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    color: white;

    .pick {

        padding-left: 10%;
        margin-top: 12%;
        font-weight: 200;
    }

    .planete {
        display: flex;
        flex-direction: row;

        margin-top: 3%;
        justify-content: center;
        gap: 10%;

        .detailplanete {
            display: flex;
            flex-direction: column;
            /* background-color: goldenrod; */

            width: 35%;

            .choixplanete {
                display: flex;
                flex-direction: row;
                /* background-color: red; */
                gap: 7%;

                height: 10%;
            }

            a {
                text-decoration: none;
                list-style-type: none;
                color: white;

                display: flex;
                align-items: center;
            }

            .titreplanete {
                /* background-color: green; */
                font-size: 100px;
                margin-top: 7%;
            }

            .descriptionPlanete {
                /* background-color: blue; */
                width: 75%;
                row-gap: 10px;
                line-height: 1.5rem;
                
            }

            .lignehr {
                clear: both;
                color: rgb(157, 157, 157);
                background-color: rgb(157, 157, 157);
                height: 1px;
                border-width: 0;
                width: 100%;
                margin-top: 4%;
            }

            .timedestination{
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin-top: 5%;

                .est{
                    /* background-color: red; */
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .days{
                    /* background-color: rebeccapurple; */
                    padding-left: 38%;
                    font-size: 25px;
                }
            }
        }
    }

}




    


