.cartes{
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 90);
    border-radius: 10px;
    color: white;
    width: 15vw;
    margin-right: 15%;
    padding-bottom: 8%;
    padding-left: 6%;
    /* height: 15vh; */

    .grandtxt{
        font-size: 40px;
        margin-bottom: 4%;
    }

    .title{
        /* background-color: rebeccapurple; */
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .point{
            height: 3%;
        }
    }
}


@media screen and (max-width:375px) {
    .woo{
        display: flex;
        justify-content: end;
        padding-right: 9%;
        margin-top: -14%;
    }
}

@media screen and (min-width:425px) and (max-width:500px) {
    .woo{
        display: flex;
        justify-content: end;
        padding-right: 9%;
        margin-top: -14%;
    }
}

