header{
  /* background-color: green; */
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: center;
  /* padding: 1%; */

  nav{
    /* background-color: red; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
      background-color: lightgray;
      color: black;
      border: 0;
      height: 3vh;
      border: 1px solid black;
    }
  }
}

.App{
  min-height: 100vh;
}



.App.darkMode {
  background-color: rgb(60, 60, 60) !important;
  color: white;
}