.contentDetail{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.contentback{
    /* background-color: green; */
    padding-left: 5%;
    margin-top: 5%;

    a{
        list-style: none;
        text-decoration: none;
    }

    button{
        display: flex;
        padding-left: 2%;
        padding-top: 0.2%;
        padding-right: 2%;
        padding-bottom: 0.2%;
    }
}

.detailpays{
    display: flex;
    flex-direction: row;
    /* background-color: lightblue; */
    margin-top: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    
    img{
        width: 30vw;
        height: 40vh;
        border: 1px solid lightgray;
    }
}

.txtpays{
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    margin-left: 5%;
    padding-top: 2%;
    width: 80%;
    gap: 10px;
}


.gras{
    font-weight: bold;
}


.gras2{
    /* background-color: rebeccapurple; */
    margin-left: -2%;
    font-weight: bold;
}
.alldetails{
    display: flex;
    flex-direction: row;

    .gauche{
        display: flex;
        flex-direction: column;
        line-height: 32px;
        /* background-color: red; */
    }
}
.droite{
    /* background-color: gray; */
    margin-left: 10%;
    display: flex;
    line-height: 32px;
    flex-direction: column;
    padding-top: 2%;
}

.border{
    /* background-color: green; */
    display: flex;
    padding-left: 2%;

    .l{
        /* background-color: yellow; */
        margin-left: 4%;
        display: flex;
        /* flex-direction: row; */
        max-width: 30vw;
        gap: 10px;
        text-align: left;
        flex-wrap: wrap;
    }
}

.limitrof{
    button{
        background-color: white;
        border: 1px solid lightgray !important;
        border: 0;
    }
}


.button-50 {
    appearance: button;
    background-color: gray;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}


.App.darkMode{
    .detailpays{
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
