.page1{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    padding-left: 4%;
    /* background-color: green; */
}

.titre{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-bottom: 13%;

    span{
        color: rgb(177, 174, 174);
    }
}

.information{
    display: flex;
    flex-direction: column;
    margin-top: 5%;

    input{
        height: 5vh;
        border-radius: 5px;
        border: 1px solid lightgray;
        margin-top: 2%;
        padding-left: 5%;
        outline-color: purple;
    }



    /* input:focus{
        border: 2px solid red;
        background-color: green;
    } */
}
.suivant{
    display: flex;
    /* background-color: red; */
    margin-top: 8%;
    align-items: end;
    justify-content: end;
    
    button{
        background-color: darkblue;
        color: white;
        border: 0;
        border-radius: 10px;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        padding-right: 4%;
        font-weight: 800;
    }
}